section {
    height: 1200px;
}

section h1 {
    margin: 20px 0;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #372208;
}

.box {
    height: 900px;
}

.box h2 {
    font-weight: 400;
    margin: 10px 0;
    color: rgb(5, 100, 34);
    font-family: fangsong;
}

.banner img {
    width: 1200px;
    height: 500px;
}

.box h4 {
    margin: 20px 0;
}

.box img {
    width: 550px;
    height: 380px;
    border-radius: 30px;
}

.box img:nth-child(1) {

    float: left;
    margin-right: 100px;
}

.box p {
    text-indent: 2em;
    line-height: 30px;
}